<app-header></app-header>


<ion-content>
  <ion-card class="patient-history-card">
    <ion-card-header>
      <ion-card-title class="pat-title">Patient History</ion-card-title>
    </ion-card-header>
    <ion-card-content class="scrollable-content">
      <ion-list lines="full" class="table">
        <ion-item class="header-row">
          <ion-label class="header uppercase">Patient Id</ion-label>
          <ion-label class="header uppercase">Patient Name</ion-label>
          <ion-label class="header uppercase">Gender</ion-label>
          <ion-label class="header uppercase">Date Of Birth</ion-label>
          <ion-label class="header uppercase">Phone</ion-label>
        </ion-item>


        <ion-item class="data-row" *ngFor="let entry of patientHistoryDetails" style="font-size: 14px;">
          <ion-label>{{ entry.PatientId }}</ion-label>
          <ion-label>{{ entry.FirstName }}{{ entry.LastName }}</ion-label>
          <ion-label>{{ entry.Gender }}</ion-label>
          <ion-label>{{ entry.DateOfBirth }}</ion-label>
          <ion-label>{{ entry.MobileNo }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer style="position: fixed; bottom: 0; width: 100%;">
  <ion-toolbar class="ion-text-center">
    <div style="display: flex; justify-content: center;">
      <div>
        <small><strong style="color: blue">MEX ENTERPRISE</strong></small>&nbsp;
      </div>
      <div>
        <small><strong> | EMAIL :</strong> info@company.com |</small>&nbsp;
      </div>
      <div>
        <small><strong> PHONE: </strong> +123-456-7890 </small>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>