<app-header></app-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card class="patient-details" style="width: 100%;">
          <ion-card-header>
            <ion-card-title>Add Patient Details</ion-card-title>
          </ion-card-header>
          <form [formGroup]="patientInfoForm">
            <ion-card-content>
              <ion-list lines="full">
                <ion-item>
                  <ion-label position="stacked" style="font-size: 14px;">Patient Name</ion-label>
                  <ion-input type="text" placeholder="Enter First Name" style="font-size: 14px;"
                    formControlName="firstName"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked" style="font-size: 14px;">Patient Name</ion-label>
                  <ion-input type="text" placeholder="Enter Last Name" style="font-size: 14px;"
                    formControlName="lastName"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked" style="font-size: 14px;">Gender</ion-label>
                  <ion-select placeholder="Select Gender" formControlName="gender" style="font-size: 14px;">
                    <ion-select-option value="male" style="font-size: 14px;" label="Male">Male</ion-select-option>
                    <ion-select-option value="female" style="font-size: 14px;" label="Female">Female</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked" style="font-size: 14px;">Date Of Birth </ion-label>
                  <ion-input type="date" placeholder="Enter dob" style="font-size: 14px;"
                    formControlName="dateOfBirth"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked" style="font-size: 14px;">Mobile</ion-label>
                  <ion-input type="tel" placeholder="Enter Mobile" formControlName="mobile" style="font-size: 14px;"
                    onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked" style="font-size: 14px;">Address</ion-label>
                  <ion-textarea rows="3" placeholder="Enter Address" formControlName="address"
                    style="font-size: 14px;"></ion-textarea>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </form>
          <ion-button expand="full" (click)="submitPatientForm()">Save</ion-button>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-img src="../../assets/images/mex2.jpg" style="width: 100%;"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>